// LOCATE COMP "clk" SITE "P6";
// IOBUF PORT "clk" IO_TYPE=LVCMOS33;
// FREQUENCY PORT "clk" 25 MHZ;

// inputs
LOCATE COMP "val1[0]" SITE "D9";
INPUT PORT "val1[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "val1[1]" SITE "D8";
INPUT PORT "val1[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "val1[2]" SITE "D7";
INPUT PORT "val1[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "val1[3]" SITE "D6";
INPUT PORT "val1[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[0]" SITE "E14";
INPUT PORT "val2[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[1]" SITE "E12";
INPUT PORT "val2[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[2]" SITE "D13";
INPUT PORT "val2[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[3]" SITE "D12";
INPUT PORT "val2[3]" IO_TYPE=LVCMOS33;

// outputs
LOCATE COMP "seg7[7]" SITE "J14"; // dp
IOBUF PORT "seg7[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[6]" SITE "H13"; // A
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "J13"; // B
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "H14"; // C
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "G14"; // D
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "F14"; // E
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "G13"; // F
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[0]" SITE "F13"; // G
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;