set_io clk 35
set_frequency clk 12

set_io val1[3] 46 
set_io val1[2] 44
set_io val1[1] 42
set_io val1[0] 37

set_io val2[3] 45
set_io val2[2] 43
set_io val2[1] 38
set_io val2[0] 36

set_io seg7[7] 23 
set_io seg7[0] 25 
set_io seg7[1] 26 
set_io seg7[2] 27 
set_io seg7[3] 28 
set_io seg7[4] 31 
set_io seg7[5] 32 
set_io seg7[6] 34